# import libraries

In [486]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files


from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans


import folium # map rendering library

import requests
from  bs4 import BeautifulSoup
import csv
from urllib.request import urlopen
import pandas as pd
import numpy as np
import re
import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

from geopy.geocoders import Nominatim 
import matplotlib.cm as cm

# get major U.S and Canadian cities' according to their population

## we get the information from Wikipedia, and we need to use beautifulsoup to scrape data

### load the website

In [487]:
url = 'https://en.wikipedia.org/wiki/List_of_North_American_cities_by_population'
html = urlopen(url)
soup = BeautifulSoup(html, 'lxml')
table = soup.find('table', class_='wikitable sortable')

### scrape the table data into DataFrame

In [488]:
l = []
for tr in table.find_all('tr'):
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    l.append(row)
df = pd.DataFrame(l,columns=['Rank','City','Image', 'Country', 'Population','Year'])
df

,Rank,City,Image,Country,Population,Year
0,None,None,None,None,None,None
1,1\n,Mexico City\n,\n,Mexico\n,"8,918,653[a][3][4]\n",2015[b]\n
2,2\n,New York City\n,\n,United States\n,"8,550,405[5]\n",2015\n
3,3\n,Los Angeles\n,\n,United States\n,"3,971,883[5]\n",2015\n
4,4\n,Toronto\n,\n,Canada\n,"2,826,498[c][7]\n",2015\n
5,5\n,Chicago\n,\n,United States\n,"2,720,546[5]\n",2015\n
6,6\n,Houston\n,\n,United States\n,"2,296,224[5]\n",2015\n
7,7\n,Havana\n,\n,Cuba\n,"2,117,625[8]\n",2015\n
8,8\n,Montreal\n,\n,Canada\n,"1,753,034[9]\n",2015\n
9,9\n,Ecatepec de Morelos\n,\n,Mexico\n,"1,677,678[d][3][4]\n",2015[b]\n
10,10\n,Philadelphia\n,\n,United States\n,"1,567,442[5]\n",2015\n
11,11\n,Phoenix\n,\n,United States\n,"1,563,025[5]\n",2015\n
12,12\n,San Antonio\n,\n,United States\n,"1,469,845[5]\n",2015\n
13,13\n,Guadalajara\n,\n,Mexico\n,"1,460,148[d][3][4]\n",2015[b]\n
14,14\n,Puebla\n,\n,Mexico\n,"1,437,939[e][10]\n",2015[b]\n
15,15\n,San Diego\n,\n,United States\n,"1,394,928[5]\n",2015\n
16,16\n,Juárez\n,\n,Mexico\n,"1,382,753[e][10]\n",2015[b]\n
17,17\n,León\n,\n,Mexico\n,"1,349,224[e][10]\n",2015[b]\n
18,18\n,Dallas\n,\n,United States\n,"1,300,092[5]\n",2015\n
19,19\n,Tijuana\n,\n,Mexico\n,"1,298,475[e][10]\n",2015[b]\n
20,20\n,Calgary\n,\n,Canada\n,"1,230,915[2]\n",2015[f]\n
21,21\n,Tegucigalpa\n,\n,Honduras\n,"1,190,230[12]\n",2015\n
22,22\n,Zapopan\n,\n,Mexico\n,"1,179,681[e][10]\n",2015[b]\n
23,23\n,Monterrey\n,\n,Mexico\n,"1,109,171[d][3][4]\n",2015[b]\n
24,24\n,Managua\n,\n,Nicaragua\n,"1,048,134[13]\n",2015\n
25,25\n,Nezahualcóyotl\n,\n,Mexico\n,"1,039,867[d][3][4]\n",2015[b]\n
26,26\n,San Jose\n,\n,United States\n,"1,026,908[5]\n",2015\n
27,27\n,Santo Domingo\n,\n,Dominican Republic\n,"1,007,997[14]\n",2015\n
28,28\n,Guatemala City\n,\n,Guatemala\n,"994,078[15]\n",2015\n
29,29\n,Port-au-Prince\n,\n,Haiti\n,"987,310[16]\n",2015\n
30,30\n,Naucalpan\n,\n,Mexico\n,"970,012[g][10]\n",2015[b]\n
31,31\n,Ottawa\n,\n,Canada\n,"956,710[h][7]\n",2015\n
32,32\n,Austin\n,\n,United States\n,"931,830[5]\n",2015\n
33,33\n,Edmonton\n,\n,Canada\n,"899,447[18]\n",2016[i]\n
34,34\n,Mérida\n,\n,Mexico\n,"892,363[d][3][4]\n",2015[b]\n
35,35\n,Querétaro\n,\n,Mexico\n,"878,931[d][3][4]\n",2015[b]\n
36,36\n,Toluca\n,\n,Mexico\n,"873,536[d][3][4]\n",2015[b]\n
37,37\n,Jacksonville\n,\n,United States\n,"868,031[5]\n",2015\n
38,38\n,Chihuahua\n,\n,Mexico\n,"867,736[e][10]\n",2015[b]\n
39,39\n,San Francisco\n,\n,United States\n,"864,816[5]\n",2015\n
40,40\n,Indianapolis\n,\n,United States\n,"853,173[j][5]\n",2015\n
41,41\n,Columbus\n,\n,United States\n,"850,106[5]\n",2015\n
42,42\n,Fort Worth\n,\n,United States\n,"833,319[5]\n",2015\n
43,43\n,Charlotte\n,\n,United States\n,"827,097[5]\n",2015\n
44,44\n,Hermosillo\n,\n,Mexico\n,"819,999[e][10]\n",2015[b]\n
45,45\n,Saltillo\n,\n,Mexico\n,"791,074[e][10]\n",2015[b]\n
46,46\n,Aguascalientes\n,\n,Mexico\n,"785,942[e][3]\n",2015[b]\n
47,47\n,Mississauga\n,\n,Canada\n,"761,300[19]\n",2015\n
48,48\n,San Luis Potosí\n,\n,Mexico\n,"759,854[e][10]\n",2015[b]\n
49,49\n,Veracruz\n,\n,Mexico\n,"752,171[k][3][4]\n",2015[b]\n
50,50\n,San Pedro Sula\n,\n,Honduras\n,"742,118[12]\n",2015\n
51,51\n,Santiago de los Caballeros\n,\n,Dominican Republic\n,"723,162[20]\n",2015\n
52,52\n,Culiacán\n,\n,Mexico\n,"720,798[e][10]\n",2015[b]\n
53,53\n,Winnipeg\n,\n,Canada\n,"718,400[21]\n",2015\n
54,54\n,Mexicali\n,\n,Mexico\n,"717,628[e][10]\n",2015[b]\n
55,55\n,Cancún\n,\n,Mexico\n,"711,682[e][10]\n",2015[b]\n
56,56\n,Acapulco\n,\n,Mexico\n,"710,261[e][10]\n",2015[b]\n
57,57\n,Tlalnepantla\n,\n,Mexico\n,"700,734[d][3][4]\n",2015[b]\n
58,58\n,Seattle\n,\n,United States\n,"684,451[5]\n",2015\n
59,59\n,Guadalupe\n,\n,Mexico\n,"682,880[d][3][4]\n",2015[b]\n
60,60\n,Denver\n,\n,United States\n,"682,545[5]\n",2015\n
61,61\n,El Paso\n,\n,United States\n,"681,124[5]\n",2015\n
62,62\n,Chimalhuacán\n,\n,Mexico\n,"679,811[d][3][4]\n",2015[b]\n
63,63\n,Detroit\n,\n,United States\n,"677,116[5]\n",2015\n
64,64\n,"Washington, D.C.\n",\n,United States\n,"672,228[5]\n",2015\n
65,65\n,Kingston\n,\n,Jamaica\n,"669,627[22]\n",2015\n
66,66\n,Boston\n,\n,United States\n,"667,137[5]\n",2015\n
67,67\n,Tlaquepaque\n,\n,Mexico\n,"664,193[d][3][4]\n",2015[b]\n
68,68\n,Memphis\n,\n,United States\n,"655,770[5]\n",2015\n
69,69\n,Nashville\n,\n,United States\n,"654,610[l][5]\n",2015\n
70,70\n,Torreón\n,\n,Mexico\n,"653,150[e][10]\n",2015[b]\n
71,71\n,Vancouver\n,\n,Canada\n,"648,608[23]\n",2015\n
72,72\n,Portland\n,\n,United States\n,"632,309[5]\n",2015\n
73,73\n,Reynosa\n,\n,Mexico\n,"631,611[e][10]\n",2015[b]\n
74,74\n,Oklahoma City\n,\n,United States\n,"631,346[5]\n",2015\n
75,75\n,Las Vegas\n,\n,United States\n,"623,747[5]\n",2015\n
76,76\n,Baltimore\n,\n,United States\n,"621,849[5]\n",2015\n
77,77\n,Brampton\n,\n,Canada\n,"620,700[19]\n",2016\n
78,78\n,Louisville\n,\n,United States\n,"615,366[m][5]\n",2015\n
79,79\n,Morelia\n,\n,Mexico\n,"608,190[e][10]\n",2015[b]\n
80,80\n,Milwaukee\n,\n,United States\n,"600,155[5]\n",2015\n
81,81\n,Tuxtla Gutiérrez\n,\n,Mexico\n,"598,710[d][3][4]\n",2015[b]\n
82,82\n,Apodaca\n,\n,Mexico\n,"597,207[d][3][4]\n",2015[b]\n
83,83\n,Durango\n,\n,Mexico\n,"590,893[e][10]\n",2015[b]\n
84,84\n,Villa Nueva\n,\n,Guatemala\n,"564,686[15]\n",2015\n
85,85\n,Albuquerque\n,\n,United States\n,"559,121[5]\n",2015\n
86,86\n,Hamilton\n,\n,Canada\n,"556,359[n][7]\n",2015\n
87,87\n,Quebec City\n,\n,Canada\n,"540,994[9]\n",2015\n
88,88\n,Tonalá\n,\n,Mexico\n,"536,111[d][3][4]\n",2015[b]\n
89,89\n,Tucson\n,\n,United States\n,"531,641[5]\n",2015\n
90,90\n,Cuautitlán Izcalli\n,\n,Mexico\n,"531,041[d][3][4]\n",2015[b]\n
91,91\n,Surrey\n,\n,Canada\n,"526,004[23]\n",2015\n
92,92\n,Ciudad López Mateos\n,\n,Mexico\n,"523,296[d][3][4]\n",2015[b]\n
93,93\n,Tultitlán\n,\n,Mexico\n,"520,557[d][3][4]\n",2015[b]\n
94,94\n,Fresno\n,\n,United States\n,"520,052[5]\n",2015\n
95,95\n,Carrefour\n,\n,Haiti\n,"501,768[16]\n",2015\n

#### drop column image, which will not be used

In [489]:
df1 = df.drop('Image', axis=1)

#### drop the first row

In [490]:
df2 = df1.drop(0,axis=0)
df2.head()

  Rank             City           Country            Population       Year
1  1\n    Mexico City\n          Mexico\n  8,918,653[a][3][4]\n  2015[b]\n
2  2\n  New York City\n   United States\n        8,550,405[5]\n     2015\n
3  3\n    Los Angeles\n   United States\n        3,971,883[5]\n     2015\n
4  4\n        Toronto\n          Canada\n     2,826,498[c][7]\n     2015\n
5  5\n        Chicago\n   United States\n        2,720,546[5]\n     2015\n

#### remove all \n in the DataFrame

In [491]:
df3 = df2.apply(lambda x: x.str.strip('\n'))

#### use regular expression to remove all [] and content inside of it

In [492]:
df3['Population'] = df3['Population'].apply(lambda x: re.sub(r'\[.*?\]', '', x))
df3['Year'] = df3['Year'].apply(lambda x: re.sub(r'\[.*?\]', '', x))

In [493]:
df3.head()

  Rank           City         Country Population  Year
1    1    Mexico City          Mexico  8,918,653  2015
2    2  New York City   United States  8,550,405  2015
3    3    Los Angeles   United States  3,971,883  2015
4    4        Toronto          Canada  2,826,498  2015
5    5        Chicago   United States  2,720,546  2015

#### we are only interested in U.S cities, so keep them and remove other countries

In [494]:
df4 = df3[df3['Country'].str.contains('United States')]

In [495]:
df5 = df4

#### reset the ranking

#### combine column city and country and give a new column location, which will be more precise to get grogrophic location

In [ ]:
df5['Location'] = df5['City'] + ','+ df5['Country']

#### use Nominatim to get geolocation data of the cities and create latitude and longitude columns in dataframe

In [ ]:
list1 =[]
list2 =[]
list3=[]
for location in df5.Location:
    address = location

    geolocator = Nominatim()
    location = geolocator.geocode(address)
    list3.append(location)
    latitude = location.latitude
    list1.append(latitude)
    longitude = location.longitude
    list2.append(longitude)
    print('The geograpical coordinate of {} are {}, {}.'.format(location, latitude, longitude))
df5['Latitude'] = list1
df5['Longitude'] = list2
df5['Location'] = list3

### Reset index

In [498]:
df5.reset_index(inplace=True,drop=True)

In [500]:
df5

,Rank,City,Country,Population,Year,Location,Latitude,Longitude
0,2,New York City,United States,"8,550,405",2015,"(NYC, New York, USA, (40.7308619, -73.9871558))",40.730862,-73.987156
1,3,Los Angeles,United States,"3,971,883",2015,"(LA, Los Angeles County, California, USA, (34....",34.053683,-118.242767
2,5,Chicago,United States,"2,720,546",2015,"(Chicago, Cook County, Illinois, USA, (41.8755...",41.875562,-87.624421
3,6,Houston,United States,"2,296,224",2015,"(Houston, Harris County, Texas, USA, (29.75893...",29.758938,-95.367697
4,10,Philadelphia,United States,"1,567,442",2015,"(Philadelphia, Philadelphia County, Pennsylvan...",39.952415,-75.163575
5,11,Phoenix,United States,"1,563,025",2015,"(Phoenix, Maricopa County, Arizona, USA, (33.4...",33.448587,-112.077346
6,12,San Antonio,United States,"1,469,845",2015,"(San Antonio, Bexar County, Texas, USA, (29.42...",29.424600,-98.495141
7,15,San Diego,United States,"1,394,928",2015,"(San Diego, San Diego County, California, USA,...",32.717421,-117.162771
8,18,Dallas,United States,"1,300,092",2015,"(Dallas, Dallas County, Texas, USA, (32.776271...",32.776272,-96.796856
9,26,San Jose,United States,"1,026,908",2015,"(San José, Santa Clara County, California, USA...",37.336191,-121.890583
10,32,Austin,United States,"931,830",2015,"(Austin, Travis County, Texas, USA, (30.271128...",30.271129,-97.743700
11,37,Jacksonville,United States,"868,031",2015,"(Jacksonville, Duval County, Florida, USA, (30...",30.332184,-81.655651
12,39,San Francisco,United States,"864,816",2015,"(SF, California, USA, (37.7792808, -122.4192363))",37.779281,-122.419236
13,40,Indianapolis,United States,"853,173",2015,"(Indianapolis, Marion County, Indiana, 46204, ...",39.768333,-86.158350
14,41,Columbus,United States,"850,106",2015,"(Columbus, Franklin County, Ohio, USA, (39.962...",39.962260,-83.000707
15,42,Fort Worth,United States,"833,319",2015,"(Fort Worth, Tarrant County, Texas, USA, (32.7...",32.753177,-97.332746
16,43,Charlotte,United States,"827,097",2015,"(Charlotte, Mecklenburg County, North Carolina...",35.227087,-80.843127
17,58,Seattle,United States,"684,451",2015,"(Seattle, King County, Washington, USA, (47.60...",47.603832,-122.330062
18,60,Denver,United States,"682,545",2015,"(Denver, Denver County, Colorado, USA, (39.739...",39.739236,-104.984862
19,61,El Paso,United States,"681,124",2015,"(El Paso, El Paso County, Texas, USA, (31.7600...",31.760037,-106.487287
20,63,Detroit,United States,"677,116",2015,"(Detroit, Wayne County, Michigan, USA, (42.331...",42.331551,-83.046640
21,64,"Washington, D.C.",United States,"672,228",2015,"(Washington, D.C., USA, (38.8950092, -77.03656...",38.895009,-77.036563
22,66,Boston,United States,"667,137",2015,"(Boston, Suffolk County, Massachusetts, USA, (...",42.360253,-71.058291
23,68,Memphis,United States,"655,770",2015,"(Memphis, Shelby County, Tennessee, USA, (35.1...",35.149022,-90.051629
24,69,Nashville,United States,"654,610",2015,"(Nashville-Davidson, Davidson County, Tennesse...",36.162230,-86.774353
25,72,Portland,United States,"632,309",2015,"(Portland, Multnomah County, Oregon, USA, (45....",45.520247,-122.674195
26,74,Oklahoma City,United States,"631,346",2015,"(Oklahoma City, Oklahoma County, Oklahoma, USA...",35.472989,-97.517054
27,75,Las Vegas,United States,"623,747",2015,"(Las Vegas, Clark County, Nevada, USA, (36.166...",36.166286,-115.149225
28,76,Baltimore,United States,"621,849",2015,"(Baltimore, Maryland, 21203, USA, (39.2908816,...",39.290882,-76.610759
29,78,Louisville,United States,"615,366",2015,"(Louisville, Jefferson County, Kentucky, USA, ...",38.254238,-85.759407
30,80,Milwaukee,United States,"600,155",2015,"(Milwaukee, Milwaukee County, Wisconsin, USA, ...",43.034993,-87.922497
31,85,Albuquerque,United States,"559,121",2015,"(ABQ, Bernalillo County, New Mexico, USA, (35....",35.084103,-106.650985
32,89,Tucson,United States,"531,641",2015,"(Tucson, Pima County, Arizona, USA, (32.221891...",32.221892,-110.926235
33,94,Fresno,United States,"520,052",2015,"(Fresno, Fresno County, California, USA, (36.7...",36.729529,-119.708861

In [501]:
df6 = df5

In [ ]:
df6['Rank'] = [i for i in range(1,35)]

#### reset the rank

In [503]:
df6

,Rank,City,Country,Population,Year,Location,Latitude,Longitude
0,1,New York City,United States,"8,550,405",2015,"(NYC, New York, USA, (40.7308619, -73.9871558))",40.730862,-73.987156
1,2,Los Angeles,United States,"3,971,883",2015,"(LA, Los Angeles County, California, USA, (34....",34.053683,-118.242767
2,3,Chicago,United States,"2,720,546",2015,"(Chicago, Cook County, Illinois, USA, (41.8755...",41.875562,-87.624421
3,4,Houston,United States,"2,296,224",2015,"(Houston, Harris County, Texas, USA, (29.75893...",29.758938,-95.367697
4,5,Philadelphia,United States,"1,567,442",2015,"(Philadelphia, Philadelphia County, Pennsylvan...",39.952415,-75.163575
5,6,Phoenix,United States,"1,563,025",2015,"(Phoenix, Maricopa County, Arizona, USA, (33.4...",33.448587,-112.077346
6,7,San Antonio,United States,"1,469,845",2015,"(San Antonio, Bexar County, Texas, USA, (29.42...",29.424600,-98.495141
7,8,San Diego,United States,"1,394,928",2015,"(San Diego, San Diego County, California, USA,...",32.717421,-117.162771
8,9,Dallas,United States,"1,300,092",2015,"(Dallas, Dallas County, Texas, USA, (32.776271...",32.776272,-96.796856
9,10,San Jose,United States,"1,026,908",2015,"(San José, Santa Clara County, California, USA...",37.336191,-121.890583
10,11,Austin,United States,"931,830",2015,"(Austin, Travis County, Texas, USA, (30.271128...",30.271129,-97.743700
11,12,Jacksonville,United States,"868,031",2015,"(Jacksonville, Duval County, Florida, USA, (30...",30.332184,-81.655651
12,13,San Francisco,United States,"864,816",2015,"(SF, California, USA, (37.7792808, -122.4192363))",37.779281,-122.419236
13,14,Indianapolis,United States,"853,173",2015,"(Indianapolis, Marion County, Indiana, 46204, ...",39.768333,-86.158350
14,15,Columbus,United States,"850,106",2015,"(Columbus, Franklin County, Ohio, USA, (39.962...",39.962260,-83.000707
15,16,Fort Worth,United States,"833,319",2015,"(Fort Worth, Tarrant County, Texas, USA, (32.7...",32.753177,-97.332746
16,17,Charlotte,United States,"827,097",2015,"(Charlotte, Mecklenburg County, North Carolina...",35.227087,-80.843127
17,18,Seattle,United States,"684,451",2015,"(Seattle, King County, Washington, USA, (47.60...",47.603832,-122.330062
18,19,Denver,United States,"682,545",2015,"(Denver, Denver County, Colorado, USA, (39.739...",39.739236,-104.984862
19,20,El Paso,United States,"681,124",2015,"(El Paso, El Paso County, Texas, USA, (31.7600...",31.760037,-106.487287
20,21,Detroit,United States,"677,116",2015,"(Detroit, Wayne County, Michigan, USA, (42.331...",42.331551,-83.046640
21,22,"Washington, D.C.",United States,"672,228",2015,"(Washington, D.C., USA, (38.8950092, -77.03656...",38.895009,-77.036563
22,23,Boston,United States,"667,137",2015,"(Boston, Suffolk County, Massachusetts, USA, (...",42.360253,-71.058291
23,24,Memphis,United States,"655,770",2015,"(Memphis, Shelby County, Tennessee, USA, (35.1...",35.149022,-90.051629
24,25,Nashville,United States,"654,610",2015,"(Nashville-Davidson, Davidson County, Tennesse...",36.162230,-86.774353
25,26,Portland,United States,"632,309",2015,"(Portland, Multnomah County, Oregon, USA, (45....",45.520247,-122.674195
26,27,Oklahoma City,United States,"631,346",2015,"(Oklahoma City, Oklahoma County, Oklahoma, USA...",35.472989,-97.517054
27,28,Las Vegas,United States,"623,747",2015,"(Las Vegas, Clark County, Nevada, USA, (36.166...",36.166286,-115.149225
28,29,Baltimore,United States,"621,849",2015,"(Baltimore, Maryland, 21203, USA, (39.2908816,...",39.290882,-76.610759
29,30,Louisville,United States,"615,366",2015,"(Louisville, Jefferson County, Kentucky, USA, ...",38.254238,-85.759407
30,31,Milwaukee,United States,"600,155",2015,"(Milwaukee, Milwaukee County, Wisconsin, USA, ...",43.034993,-87.922497
31,32,Albuquerque,United States,"559,121",2015,"(ABQ, Bernalillo County, New Mexico, USA, (35....",35.084103,-106.650985
32,33,Tucson,United States,"531,641",2015,"(Tucson, Pima County, Arizona, USA, (32.221891...",32.221892,-110.926235
33,34,Fresno,United States,"520,052",2015,"(Fresno, Fresno County, California, USA, (36.7...",36.729529,-119.708861

#### add a list of U.S states

In [504]:
states_provinces = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",'D.C.'
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",'Québec'
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming",'Alberta','British Columbia','Manitoba','Agglomération de Montréal','New Brunswick','Newfoundland and Labrador', 'Nova Scotia','Ontario', 'Prince Edward Island', 'Quebec' 'Saskatchewan']

#### extract State name from column Location

In [505]:
states=[]
for j in range(0,34):
    for i in df6.Location[j][0].split(','):
        x = i.strip()
        if x in states_provinces:
            states.append(x)
            print(x)
len(states)

New York
California
Illinois
Texas
Pennsylvania
Arizona
Texas
California
Texas
California
Texas
Florida
California
Indiana
Ohio
Texas
North Carolina
Washington
Colorado
Texas
Michigan
Washington
Massachusetts
Tennessee
Tennessee
Oregon
Oklahoma
Nevada
Maryland
Kentucky
Wisconsin
New Mexico
Arizona
California

34

#### Create a column that contains State name

In [506]:
df6['States'] =  states
df6

C:\Users\mwu74\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Rank,City,Country,Population,Year,Location,Latitude,Longitude,States
0,1,New York City,United States,"8,550,405",2015,"(NYC, New York, USA, (40.7308619, -73.9871558))",40.730862,-73.987156,New York
1,2,Los Angeles,United States,"3,971,883",2015,"(LA, Los Angeles County, California, USA, (34....",34.053683,-118.242767,California
2,3,Chicago,United States,"2,720,546",2015,"(Chicago, Cook County, Illinois, USA, (41.8755...",41.875562,-87.624421,Illinois
3,4,Houston,United States,"2,296,224",2015,"(Houston, Harris County, Texas, USA, (29.75893...",29.758938,-95.367697,Texas
4,5,Philadelphia,United States,"1,567,442",2015,"(Philadelphia, Philadelphia County, Pennsylvan...",39.952415,-75.163575,Pennsylvania
5,6,Phoenix,United States,"1,563,025",2015,"(Phoenix, Maricopa County, Arizona, USA, (33.4...",33.448587,-112.077346,Arizona
6,7,San Antonio,United States,"1,469,845",2015,"(San Antonio, Bexar County, Texas, USA, (29.42...",29.424600,-98.495141,Texas
7,8,San Diego,United States,"1,394,928",2015,"(San Diego, San Diego County, California, USA,...",32.717421,-117.162771,California
8,9,Dallas,United States,"1,300,092",2015,"(Dallas, Dallas County, Texas, USA, (32.776271...",32.776272,-96.796856,Texas
9,10,San Jose,United States,"1,026,908",2015,"(San José, Santa Clara County, California, USA...",37.336191,-121.890583,California
10,11,Austin,United States,"931,830",2015,"(Austin, Travis County, Texas, USA, (30.271128...",30.271129,-97.743700,Texas
11,12,Jacksonville,United States,"868,031",2015,"(Jacksonville, Duval County, Florida, USA, (30...",30.332184,-81.655651,Florida
12,13,San Francisco,United States,"864,816",2015,"(SF, California, USA, (37.7792808, -122.4192363))",37.779281,-122.419236,California
13,14,Indianapolis,United States,"853,173",2015,"(Indianapolis, Marion County, Indiana, 46204, ...",39.768333,-86.158350,Indiana
14,15,Columbus,United States,"850,106",2015,"(Columbus, Franklin County, Ohio, USA, (39.962...",39.962260,-83.000707,Ohio
15,16,Fort Worth,United States,"833,319",2015,"(Fort Worth, Tarrant County, Texas, USA, (32.7...",32.753177,-97.332746,Texas
16,17,Charlotte,United States,"827,097",2015,"(Charlotte, Mecklenburg County, North Carolina...",35.227087,-80.843127,North Carolina
17,18,Seattle,United States,"684,451",2015,"(Seattle, King County, Washington, USA, (47.60...",47.603832,-122.330062,Washington
18,19,Denver,United States,"682,545",2015,"(Denver, Denver County, Colorado, USA, (39.739...",39.739236,-104.984862,Colorado
19,20,El Paso,United States,"681,124",2015,"(El Paso, El Paso County, Texas, USA, (31.7600...",31.760037,-106.487287,Texas
20,21,Detroit,United States,"677,116",2015,"(Detroit, Wayne County, Michigan, USA, (42.331...",42.331551,-83.046640,Michigan
21,22,"Washington, D.C.",United States,"672,228",2015,"(Washington, D.C., USA, (38.8950092, -77.03656...",38.895009,-77.036563,Washington
22,23,Boston,United States,"667,137",2015,"(Boston, Suffolk County, Massachusetts, USA, (...",42.360253,-71.058291,Massachusetts
23,24,Memphis,United States,"655,770",2015,"(Memphis, Shelby County, Tennessee, USA, (35.1...",35.149022,-90.051629,Tennessee
24,25,Nashville,United States,"654,610",2015,"(Nashville-Davidson, Davidson County, Tennesse...",36.162230,-86.774353,Tennessee
25,26,Portland,United States,"632,309",2015,"(Portland, Multnomah County, Oregon, USA, (45....",45.520247,-122.674195,Oregon
26,27,Oklahoma City,United States,"631,346",2015,"(Oklahoma City, Oklahoma County, Oklahoma, USA...",35.472989,-97.517054,Oklahoma
27,28,Las Vegas,United States,"623,747",2015,"(Las Vegas, Clark County, Nevada, USA, (36.166...",36.166286,-115.149225,Nevada
28,29,Baltimore,United States,"621,849",2015,"(Baltimore, Maryland, 21203, USA, (39.2908816,...",39.290882,-76.610759,Maryland
29,30,Louisville,United States,"615,366",2015,"(Louisville, Jefferson County, Kentucky, USA, ...",38.254238,-85.759407,Kentucky
30,31,Milwaukee,United States,"600,155",2015,"(Milwaukee, Milwaukee County, Wisconsin, USA, ...",43.034993,-87.922497,Wisconsin
31,32,Albuquerque,United States,"559,121",2015,"(ABQ, Bernalillo County, New Mexico, USA, (35....",35.084103,-106.650985,New Mexico
32,33,Tucson,United States,"531,641",2015,"(Tucson, Pima County, Arizona, USA, (32.221891...",32.221892,-110.926235,Arizona
33,34,Fresno,United States,"520,052",2015,"(Fresno, Fresno County, California, USA, (36.7...",36.729529,-119.708861,California

#### because Washington D.C is not a state, we need to set its state to District of Columbia mannnualy

In [ ]:
df6.loc[df6['City'].str.contains('Washington'),'States'] = 'District of Columbia'

#### drop column country and location, because we will no longer need them

In [508]:
df7 = df6.drop(['Country', 'Location'], axis =1)
df7.head()

   Rank           City Population  Year   Latitude   Longitude        States
0     1  New York City  8,550,405  2015  40.730862  -73.987156      New York
1     2    Los Angeles  3,971,883  2015  34.053683 -118.242767    California
2     3        Chicago  2,720,546  2015  41.875562  -87.624421      Illinois
3     4        Houston  2,296,224  2015  29.758938  -95.367697         Texas
4     5   Philadelphia  1,567,442  2015  39.952415  -75.163575  Pennsylvania

#### add a new column called New_Loation that contains both city and state

In [510]:
df7['New_Location'] = df7['City'] + ', '+df7['States']
df7

,Rank,City,Population,Year,Latitude,Longitude,States,New_Location
0,1,New York City,"8,550,405",2015,40.730862,-73.987156,New York,"New York City, New York"
1,2,Los Angeles,"3,971,883",2015,34.053683,-118.242767,California,"Los Angeles, California"
2,3,Chicago,"2,720,546",2015,41.875562,-87.624421,Illinois,"Chicago, Illinois"
3,4,Houston,"2,296,224",2015,29.758938,-95.367697,Texas,"Houston, Texas"
4,5,Philadelphia,"1,567,442",2015,39.952415,-75.163575,Pennsylvania,"Philadelphia, Pennsylvania"
5,6,Phoenix,"1,563,025",2015,33.448587,-112.077346,Arizona,"Phoenix, Arizona"
6,7,San Antonio,"1,469,845",2015,29.424600,-98.495141,Texas,"San Antonio, Texas"
7,8,San Diego,"1,394,928",2015,32.717421,-117.162771,California,"San Diego, California"
8,9,Dallas,"1,300,092",2015,32.776272,-96.796856,Texas,"Dallas, Texas"
9,10,San Jose,"1,026,908",2015,37.336191,-121.890583,California,"San Jose, California"
10,11,Austin,"931,830",2015,30.271129,-97.743700,Texas,"Austin, Texas"
11,12,Jacksonville,"868,031",2015,30.332184,-81.655651,Florida,"Jacksonville, Florida"
12,13,San Francisco,"864,816",2015,37.779281,-122.419236,California,"San Francisco, California"
13,14,Indianapolis,"853,173",2015,39.768333,-86.158350,Indiana,"Indianapolis, Indiana"
14,15,Columbus,"850,106",2015,39.962260,-83.000707,Ohio,"Columbus, Ohio"
15,16,Fort Worth,"833,319",2015,32.753177,-97.332746,Texas,"Fort Worth, Texas"
16,17,Charlotte,"827,097",2015,35.227087,-80.843127,North Carolina,"Charlotte, North Carolina"
17,18,Seattle,"684,451",2015,47.603832,-122.330062,Washington,"Seattle, Washington"
18,19,Denver,"682,545",2015,39.739236,-104.984862,Colorado,"Denver, Colorado"
19,20,El Paso,"681,124",2015,31.760037,-106.487287,Texas,"El Paso, Texas"
20,21,Detroit,"677,116",2015,42.331551,-83.046640,Michigan,"Detroit, Michigan"
21,22,"Washington, D.C.","672,228",2015,38.895009,-77.036563,District of Columbia,"Washington, D.C., District of Columbia"
22,23,Boston,"667,137",2015,42.360253,-71.058291,Massachusetts,"Boston, Massachusetts"
23,24,Memphis,"655,770",2015,35.149022,-90.051629,Tennessee,"Memphis, Tennessee"
24,25,Nashville,"654,610",2015,36.162230,-86.774353,Tennessee,"Nashville, Tennessee"
25,26,Portland,"632,309",2015,45.520247,-122.674195,Oregon,"Portland, Oregon"
26,27,Oklahoma City,"631,346",2015,35.472989,-97.517054,Oklahoma,"Oklahoma City, Oklahoma"
27,28,Las Vegas,"623,747",2015,36.166286,-115.149225,Nevada,"Las Vegas, Nevada"
28,29,Baltimore,"621,849",2015,39.290882,-76.610759,Maryland,"Baltimore, Maryland"
29,30,Louisville,"615,366",2015,38.254238,-85.759407,Kentucky,"Louisville, Kentucky"
30,31,Milwaukee,"600,155",2015,43.034993,-87.922497,Wisconsin,"Milwaukee, Wisconsin"
31,32,Albuquerque,"559,121",2015,35.084103,-106.650985,New Mexico,"Albuquerque, New Mexico"
32,33,Tucson,"531,641",2015,32.221892,-110.926235,Arizona,"Tucson, Arizona"
33,34,Fresno,"520,052",2015,36.729529,-119.708861,California,"Fresno, California"

# Scape city area data

#### load the website

In [511]:
url = 'http://www.governing.com/gov-data/population-density-land-area-cities-map.html'
html = urlopen(url)
soup = BeautifulSoup(html, 'lxml')
table = soup.find('div', class_='legend-frame')

#### find all city names and area, creat a list for them

In [512]:
city = [table.find_all('tr')[i].find_all('td')[0].text for i in range(1,len(table.find_all('tr')))]
area = [table.find_all('tr')[i].find_all('td')[3].text for i in range(1,len(table.find_all('tr')))]

#### convert city and area lists to dataframe

In [513]:
df_city_area = pd.DataFrame([city, area])
df_city_area.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753
0,"New York, New York","Los Angeles, California","Chicago, Illinois","Houston, Texas","Phoenix, Arizona","Philadelphia, Pennsylvania","San Antonio, Texas","San Diego, California","Dallas, Texas","San Jose, California","Austin, Texas","Jacksonville, Florida","San Francisco, California","Columbus, Ohio","Indianapolis, Indiana","Fort Worth, Texas","Charlotte, North Carolina","Seattle, Washington","Denver, Colorado","El Paso, Texas","Washington, District of Columbia","Boston, Massachusetts","Detroit, Michigan","Nashville, Tennessee","Memphis, Tennessee","Portland, Oregon","Oklahoma City, Oklahoma","Las Vegas, Nevada","Louisville, Kentucky","Baltimore, Maryland","Milwaukee, Wisconsin","Albuquerque, New Mexico","Tucson, Arizona","Fresno, California","Sacramento, California","Mesa, Arizona","Kansas City, Missouri","Atlanta, Georgia","Long Beach, California","Colorado Springs, Colorado","Raleigh, North Carolina","Miami, Florida","Virginia Beach, Virginia","Omaha, Nebraska","Oakland, California","Minneapolis, Minnesota","Tulsa, Oklahoma","Arlington, Texas","New Orleans, Louisiana","Wichita, Kansas","Cleveland, Ohio","Tampa, Florida","Bakersfield, California","Aurora, Colorado","Urban Honolulu, Hawaii","Anaheim, California","Santa Ana, California","Corpus Christi, Texas","Riverside, California","Lexington, Kentucky","St. Louis, Missouri","Stockton, California","Pittsburgh, Pennsylvania","St. Paul, Minnesota","Cincinnati, Ohio","Anchorage, Alaska","Henderson, Nevada","Greensboro, North Carolina","Plano, Texas","Newark, New Jersey","Lincoln, Nebraska","Toledo, Ohio","Orlando, Florida","Chula Vista, California","Irvine, California","Fort Wayne, Indiana","Jersey City, New Jersey","Durham, North Carolina","St. Petersburg, Florida","Laredo, Texas","Buffalo, New York","Madison, Wisconsin","Lubbock, Texas","Chandler, Arizona","Scottsdale, Arizona","Glendale, Arizona","Reno, Nevada","Norfolk, Virginia","Winston-Salem, North Carolina","North Las Vegas, Nevada","Irving, Texas","Chesapeake, Virginia","Gilbert, Arizona","Hialeah, Florida","Garland, Texas","Fremont, California","Baton Rouge, Louisiana","Richmond, Virginia","Boise City, Idaho","San Bernardino, California","Spokane, Washington","Des Moines, Iowa","Modesto, California","Birmingham, Alabama","Tacoma, Washington","Fontana, California","Rochester, New York","Oxnard, California","Moreno Valley, California","Fayetteville, North Carolina","Aurora, Illinois","Glendale, California","Yonkers, New York","Huntington Beach, California","Montgomery, Alabama","Amarillo, Texas","Little Rock, Arkansas","Akron, Ohio","Columbus, Georgia","Augusta-Richmond County, Georgia","Grand Rapids, Michigan","Shreveport, Louisiana","Salt Lake City, Utah","Huntsville, Alabama","Mobile, Alabama","Tallahassee, Florida","Grand Prairie, Texas","Overland Park, Kansas","Knoxville, Tennessee","Port St. Lucie, Florida","Worcester, Massachusetts","Brownsville, Texas","Tempe, Arizona","Santa Clarita, California","Newport News, Virginia","Cape Coral, Florida","Providence, Rhode Island","Fort Lauderdale, Florida","Chattanooga, Tennessee","Rancho Cucamonga, California","Oceanside, California","Santa Rosa, California","Garden Grove, California","Vancouver, Washington","Sioux Falls, South Dakota","Ontario, California","McKinney, Texas","Elk Grove, California","Jackson, Mississippi","Pembroke Pines, Florida","Salem, Oregon","Springfield, Missouri","Corona, California","Eugene, Oregon","Fort Collins, Colorado","Peoria, Arizona","Frisco, Texas","Cary, North Carolina","Lancaster, California","Hayward, California","Palmdale, California","Salinas, California","Alexandria, Virginia","Lakewood, Colorado","Springfield, Massachusetts","Pasadena, Texas","Sunnyvale, California","Pomona, California","Hollywood, Florida","Kansas City, Kansas","Escondido, California","Clarksville, Tennessee","Joliet, Illinois","Rockford, Illinois","Torrance, California","Naperville, Illinois","Paterson, New Jersey","Savannah, Georgia","Bridgeport, Connecticut","Mesquite, Texas","Killeen, Texas","Syracuse, New York","McAllen, Texas","Pasadena, California","Bellevue, Washington","Fullerton, California","Orange, California","Dayton, Ohio","Miramar, Florida","Thornton, Colorado","West Valley City, Utah","Olathe, Kansas","Hampton, Virginia","Warren, Michigan","Midland, Texas","Waco, Texas","Charleston, South Carolina","Columbia, South Carolina","Denton, Texas","Carrollton, Texas","Surprise, Arizona","Roseville, California","Sterling Heights, Michigan","Murfreesboro, Tennessee","Gainesville, Florida","Cedar Rapids, Iowa","Visalia, California","Coral Springs, Florida","New Haven, Connecticut","Stamford, Connecticut","Thousand Oaks, California","Concord, California","Elizabeth, New Jersey","Lafayette, Louisiana","Kent, Washington","Topeka, Kansas","Simi Valley, California","Santa Clara, California","Athens-Clarke County, Georgia","Hartford, Connecticut","Victorville, California","Abilene, Texas","Norman, Oklahoma","Vallejo, California","Berkeley, California","Round Rock, Texas","Ann Arbor, Michigan","Fargo, North Dakota","Columbia, Missouri","Allentown, Pennsylvania","Evansville, Indiana","Beaumont, Texas","Odessa, Texas","Wilmington, North Carolina","Arvada, Colorado","Independence, Missouri","Provo, Utah","Lansing, Michigan","El Monte, California","Springfield, Illinois","Fairfield, California","Clearwater, Florida","Peoria, Illinois","Rochester, Minnesota","Carlsbad, California","Westminster, Colorado","West Jordan, Utah","Pearland, Texas","Richardson, Texas","Downey, California","Miami Gardens, Florida","Temecula, California","Costa Mesa, California","College Station, Texas","Elgin, Illinois","Murrieta, California","Gresham, Oregon","High Point, North Carolina","Antioch, California","Inglewood, California","Cambridge, Massachusetts","Lowell, Massachusetts","Manchester, New Hampshire","Billings, Montana","Pueblo, Colorado","Palm Bay, Florida","Centennial, Colorado","Richmond, California","San Buenaventura, California","Pompano Beach, Florida","North Charleston, South Carolina","Everett, Washington","Waterbury, Connecticut","West Palm Beach, Florida","Boulder, Colorado","West Covina, California","Broken Arrow, Oklahoma","Clovis, California","Daly City, California","Lakeland, Florida","Santa Maria, California","Norwalk, California","Sandy Springs, Georgia","Hillsboro, Oregon","Green Bay, Wisconsin","Tyler, Texas","Wichita Falls, Texas","Lewisville, Texas","Burbank, California","Greeley, Colorado","San Mateo, California","El Cajon, California","Rialto, California","Davenport, Iowa","League City, Texas","Davie, Florida","Las Cruces, New Mexico","South Bend, Indiana","Vista, California","Renton, Washington","San Angelo, Texas","Roanoke, Virginia","Kenosha, Wisconsin","Tuscaloosa, Alabama","Allen, Texas","Erie, Pennsylvania","Sparks, Nevada","Vacaville, California","Albany, New York","Beaverton, Oregon","Compton, California","Orem, Utah","Flint, Michigan","Federal Way, Washington","Mission Viejo, California","Spokane Valley, Washington","Boca Raton, Florida","Lee's Summit, Missouri","Rio Rancho, New Mexico","Sandy, Utah","Brockton, Massachusetts","Meridian, Idaho","South Gate, California","Lawrence, Kansas","San Marcos, California","Portsmouth, Virginia","New Bedford, Massachusetts","Yuma, Arizona","Lawton, Oklahoma","Roswell, Georgia","Dearborn, Michigan","Livonia, Michigan","Yakima, Washington","Sunrise, Florida","Hesperia, California","Quincy, Massachusetts","Longmont, Colorado","Carson, California","Plantation, Florida","Lynn, Massachusetts","Santa Monica, California","Santa Barbara, California","Miami Beach, Florida","Redding, California","Chico, California","Westminster, California","Greenville, North Carolina","Nampa, Idaho","Edmond, Oklahoma","Bend, Oregon","Carmel, Indiana","San Leandro, California","Fishers, Indiana","Deltona, Florida","Concord, North Carolina","Tracy, California","Suffolk, Virginia","Asheville, North Carolina","Livermore, California","Newton, Massachusetts","Fall River, Massachusetts","Menifee, California","Indio, California","Norwalk, Connecticut","Waukegan, Illinois","Sugar Land, Texas","Fort Smith, Arkansas","Hawthorne, California","Nashua, New Hampshire","Chino, California","Kirkland, Washington","Edinburg, Texas","Reading, Pennsylvania","Bellingham, Washington","Citrus Heights, California","Whittier, California","Ogden, Utah","Newport Beach, California","Champaign, Illinois","Duluth, Minnesota","O'Fallon, Missouri","Clifton, New Jersey","Alhambra, California","Bloomington, Minnesota","Palm Coast, Florida","Danbury, Connecticut","Hoover, Alabama","Redwood City, California","Bloomington, Indiana","Hemet, California","Mount Pleasant, South Carolina","Trenton, New Jersey","Santa Fe, New Mexico","Johns Creek, Georgia","Fayetteville, Arkansas","Troy, Michigan","Mission, Texas","Bryan, Texas","Lake Forest, California","Buena Park, California","Largo, Florida","Cicero, Illinois","Avondale, Arizona","Sioux City, Iowa","Merced, California","St. George, Utah","Conroe, Texas","Pleasanton, California","Longview, Texas","Medford, Oregon","Warwick, Rhode Island","Westland, Michigan","Somerville, Massachusetts","Melbourne, Florida","Lakewood, California","Farmington Hills, Michigan","Cranston, Rhode Island","Kennewick, Washington","Mountain View, California","Napa, California","Tustin, California","Lynchburg, Virginia","Lawrence, Massachusetts","Deerfield Beach, Florida","Brooklyn Park, Minnesota","New Rochelle, New York","Parma, Ohio","Alameda, California","Chino Hills, California","Springdale, Arkansas","Bloomington, Illinois","Bellflower, California","Racine, Wisconsin","Milpitas, California","Auburn, Washington","Pharr, Texas","Scranton, Pennsylvania","Folsom, California","Goodyear, Arizona","Plymouth, Minnesota","Fort Myers, Florida","Hammond, Indiana","Manteca, California","Loveland, Colorado","Lake Charles, Louisiana","Upland, California","St. Joseph, Missouri","Baldwin Park, California","Gary, Indiana","Perris, California","Baytown, Texas","Kalamazoo, Michigan","Layton, Utah","San Ramon, California","Boynton Beach, Florida","Wyoming, Michigan","Gastonia, North Carolina","Arlington Heights, Illinois","Union City, California","Bethlehem, Pennsylvania","Evanston, Illinois","Jonesboro, Arkansas","Franklin, Tennessee","Missouri City, Texas","Bolingbrook, Illinois","Schaumburg, Illinois","Camden, New Jersey","Iowa City, Iowa","Warner Robins, Georgia","Appleton, Wisconsin","Rapid City, South Dakota","New Braunfels, Texas","Albany, Georgia","Temple, Texas","Flower Mound, Texas","Rochester Hills, Michigan","Southfield, Michigan","Rock Hill, South Carolina","Turlock, California","Decatur, Illinois","New Britain, Connecticut","Apple Valley, California","Bismarck, North Dakota","Missoula, Montana","Waukesha, Wisconsin","Rancho Cordova, California","Gulfport, Mississippi","Lafayette, Indiana","Lauderhill, Florida","Flagstaff, Arizona","Wilmington, Delaware","Pawtucket, Rhode Island","Canton, Ohio","Redlands, California","Lynwood, California","Pittsburg, California","Passaic, New Jersey","Pasco, Washington","Frederick, Maryland","Weston, Florida","North Richland Hills, Texas","Maple Grove, Minnesota","Kissimmee, Florida","Union City, New Jersey","St. Charles, Missouri","Walnut Creek, California","South Jordan, Utah","Muncie, Indiana","Cedar Park, Texas","Woodbury, Minnesota","Palatine, Illinois","Bossier City, Louisiana","Dothan, Alabama","Mount Vernon, New York","Eau Claire, Wisconsin","Yorba Linda, California","Davis, California","Homestead, Florida","Waterloo, Iowa","Redondo Beach, California","Jacksonville, North Carolina","Gaithersburg, Maryland","Victoria, Texas","St. Cloud, Minnesota","Marysville, Washington","Greenville, South Carolina","Delray Beach, Florida","Camarillo, California","Georgetown, Texas","Kenner, Louisiana","Palo Alto, California","Jackson, Tennessee","South San Francisco, California","Rockville, Maryland","Portland, Maine","Yuba City, California","Johnson City, Tennessee","Daytona Beach, Florida","Oshkosh, Wisconsin","Broomfield, Colorado","Eagan, Minnesota","North Little Rock, Arkansas","Bayonne, New Jersey","Ames, Iowa","Mansfield, Texas","Harlingen, Texas","Alpharetta, Georgia","Laguna Niguel, California","San Clemente, California","Conway, Arkansas","Bowling Green, Kentucky","Tamarac, Florida","Shawnee, Kansas","Rogers, Arkansas","Schenectady, New York","East Orange, New Jersey","Lodi, California","Buckeye, Arizona","West Des Moines, Iowa","Santa Cruz, California","Madera, California","Youngstown, Ohio","North Port, Florida","Skokie, Illinois","Lake Elsinore, California","Janesville, Wisconsin","Cheyenne, Wyoming","Eden Prairie, Minnesota","Wellington, Florida","Jupiter, Florida","Sammamish, Washington","Lorain, Ohio","Pico Rivera, California","Montebello, California","Encinitas, California","Auburn, Alabama","Waltham, Massachusetts","Blaine, Minnesota","Haverhill, Massachusetts","Rocklin, California","Tulare, California","Council Bluffs, Iowa","Redmond, Washington","Coon Rapids, Minnesota","North Miami, Florida","Hamilton, Ohio","Rowlett, Texas","San Marcos, Texas","Lakeville, Minnesota","Springfield, Oregon","Grand Junction, Colorado","La Habra, California","Moore, Oklahoma","Burnsville, Minnesota","Taylor, Michigan","Eastvale, California","National City, California","Lehi, Utah","Port Orange, Florida","Monterey Park, California","Marietta, Georgia","Terre Haute, Indiana","Malden, Massachusetts","Lakewood, Washington","Utica, New York","Cupertino, California","Brentwood, California","Petaluma, California","Vineland, New Jersey","Taylorsville, Utah","Idaho Falls, Idaho","Noblesville, Indiana","Bristol, Connecticut","West Allis, Wisconsin","Gardena, California","La Mesa, California","St. Clair Shores, Michigan","Pontiac, Michigan","Meriden, Connecticut","Dublin, California","Coconut Creek, Florida","Casper, Wyoming","Owensboro, Kentucky","Ocala, Florida","Chapel Hill, North Carolina","Pflugerville, Texas","Lancaster, Pennsylvania","Novi, Michigan","Great Falls, Montana","Springfield, Ohio","Woodland, California","Royal Oak, Michigan","Porterville, California","San Rafael, California","Huntington Park, California","Orland Park, Illinois","Ankeny, Iowa","Bartlett, Tennessee","Sanford, Florida","Dubuque, Iowa","Arcadia, California","Bowie, Maryland","White Plains, New York","Des Plaines, Illinois","Doral, Florida","Margate, Florida","Santee, California","Kokomo, Indiana","Castle Rock, Colorado","Grand Forks, North Dakota","Midwest City, Oklahoma","St. Peters, Missouri","Medford, Massachusetts","Corvallis, Oregon","Hendersonville, Tennessee","New Brunswick, New Jersey","Taunton, Massachusetts","Tinley Park, Illinois","Diamond Bar, California","Smyrna, Georgia","Sarasota, Florida","Greenwood, Indiana","Fountain Valley, California","Valdosta, Georgia","Oak Lawn, Illinois","Novato, California","Chicopee, Massachusetts","Weymouth Town, Massachusetts","Dearborn Heights, Michigan","Berwyn, Illinois","Bradenton, Florida","Hempstead, New York","Hanford, California","Rocky Mount, North Carolina","Port Arthur, Texas","Shoreline, Washington","Kettering, Ohio","Anderson, Indiana","Decatur, Alabama","Gilroy, California","Richland, Washington","Manhattan, Kansas","Highland, California","Paramount, California","Commerce City, Colorado","Huntersville, North Carolina","Euless, Texas","Pocatello, Idaho","Carson City, Nevada","Colton, California","Casa Grande, Arizona","West Haven, Connecticut","Rosemead, California","Blue Springs, Missouri","Hoboken, New Jersey","Normal, Illinois","Bonita Springs, Florida","Mount Prospect, Illinois","Cathedral City, California","Watsonville, California","Pensacola, Florida","Palm Beach Gardens, Florida","Lake Havasu City, Arizona","Elyria, Ohio","Bellevue, Nebraska","Wheaton, Illinois","West New York, New Jersey","Yucaipa, California","Southaven, Mississippi","Albany, Oregon","Revere, Massachusetts","Caldwell, Idaho","Harrisonburg, Virginia","West Sacramento, California","Lenexa, Kansas","Kingsport, Tennessee","Burlington, North Carolina","Delano, California","Leesburg, Virginia","DeSoto, Texas","Milford, Connecticut","Perth Amboy, New Jersey","Peabody, Massachusetts","Minnetonka, Minnesota","Palm Desert, California","Placentia, California","Elkhart, Indiana","Joplin, Missouri","Pinellas Park, Florida","La Crosse, Wisconsin","Grapevine, Texas","Apple Valley, Minnesota","Tigard, Oregon","Glendora, California","Florissant, Missouri","Oak Park, Illinois","Hoffman Estates, Illinois","Kentwood, Michigan","Battle Creek, Michigan","Grand Island, Nebraska","Aliso Viejo, California","Edina, Minnesota","Olympia, Washington","Parker, Colorado","Enid, Oklahoma","Burien, Washington","Coral Gables, Florida","Logan, Utah","Plainfield, New Jersey","Cerritos, California","Galveston, Texas","Coeur d'Alene, Idaho","Lakewood, Ohio","Poway, California"

#### transpose the dataframe

In [514]:
df_city_area1 = df_city_area.transpose()
df_city_area1.head()

                         0    1
0       New York, New York  303
1  Los Angeles, California  469
2        Chicago, Illinois  228
3           Houston, Texas  600
4         Phoenix, Arizona  517

#### creat column names and strip white space that may exist in them

In [515]:
df_city_area1.columns = ['New_Location', 'Area']
df_city_area1['New_Location'] = df_city_area1['New_Location'].str.strip()
df_city_area1.head()

              New_Location Area
0       New York, New York  303
1  Los Angeles, California  469
2        Chicago, Illinois  228
3           Houston, Texas  600
4         Phoenix, Arizona  517

#### merge the city_data with area with dataframe we created before accoding to column New_Location

In [516]:
df8 = df7.merge(df_city_area1, on='New_Location',how='left')

In [517]:
df8

,Rank,City,Population,Year,Latitude,Longitude,States,New_Location,Area
0,1,New York City,"8,550,405",2015,40.730862,-73.987156,New York,"New York City, New York",NaN
1,2,Los Angeles,"3,971,883",2015,34.053683,-118.242767,California,"Los Angeles, California",469
2,3,Chicago,"2,720,546",2015,41.875562,-87.624421,Illinois,"Chicago, Illinois",228
3,4,Houston,"2,296,224",2015,29.758938,-95.367697,Texas,"Houston, Texas",600
4,5,Philadelphia,"1,567,442",2015,39.952415,-75.163575,Pennsylvania,"Philadelphia, Pennsylvania",134
5,6,Phoenix,"1,563,025",2015,33.448587,-112.077346,Arizona,"Phoenix, Arizona",517
6,7,San Antonio,"1,469,845",2015,29.424600,-98.495141,Texas,"San Antonio, Texas",461
7,8,San Diego,"1,394,928",2015,32.717421,-117.162771,California,"San Diego, California",325
8,9,Dallas,"1,300,092",2015,32.776272,-96.796856,Texas,"Dallas, Texas",341
9,10,San Jose,"1,026,908",2015,37.336191,-121.890583,California,"San Jose, California",177
10,11,Austin,"931,830",2015,30.271129,-97.743700,Texas,"Austin, Texas",298
11,12,Jacksonville,"868,031",2015,30.332184,-81.655651,Florida,"Jacksonville, Florida",747
12,13,San Francisco,"864,816",2015,37.779281,-122.419236,California,"San Francisco, California",47
13,14,Indianapolis,"853,173",2015,39.768333,-86.158350,Indiana,"Indianapolis, Indiana",361
14,15,Columbus,"850,106",2015,39.962260,-83.000707,Ohio,"Columbus, Ohio",217
15,16,Fort Worth,"833,319",2015,32.753177,-97.332746,Texas,"Fort Worth, Texas",340
16,17,Charlotte,"827,097",2015,35.227087,-80.843127,North Carolina,"Charlotte, North Carolina",298
17,18,Seattle,"684,451",2015,47.603832,-122.330062,Washington,"Seattle, Washington",84
18,19,Denver,"682,545",2015,39.739236,-104.984862,Colorado,"Denver, Colorado",153
19,20,El Paso,"681,124",2015,31.760037,-106.487287,Texas,"El Paso, Texas",255
20,21,Detroit,"677,116",2015,42.331551,-83.046640,Michigan,"Detroit, Michigan",139
21,22,"Washington, D.C.","672,228",2015,38.895009,-77.036563,District of Columbia,"Washington, D.C., District of Columbia",NaN
22,23,Boston,"667,137",2015,42.360253,-71.058291,Massachusetts,"Boston, Massachusetts",48
23,24,Memphis,"655,770",2015,35.149022,-90.051629,Tennessee,"Memphis, Tennessee",315
24,25,Nashville,"654,610",2015,36.162230,-86.774353,Tennessee,"Nashville, Tennessee",475
25,26,Portland,"632,309",2015,45.520247,-122.674195,Oregon,"Portland, Oregon",133
26,27,Oklahoma City,"631,346",2015,35.472989,-97.517054,Oklahoma,"Oklahoma City, Oklahoma",606
27,28,Las Vegas,"623,747",2015,36.166286,-115.149225,Nevada,"Las Vegas, Nevada",136
28,29,Baltimore,"621,849",2015,39.290882,-76.610759,Maryland,"Baltimore, Maryland",81
29,30,Louisville,"615,366",2015,38.254238,-85.759407,Kentucky,"Louisville, Kentucky",325
30,31,Milwaukee,"600,155",2015,43.034993,-87.922497,Wisconsin,"Milwaukee, Wisconsin",96
31,32,Albuquerque,"559,121",2015,35.084103,-106.650985,New Mexico,"Albuquerque, New Mexico",188
32,33,Tucson,"531,641",2015,32.221892,-110.926235,Arizona,"Tucson, Arizona",227
33,34,Fresno,"520,052",2015,36.729529,-119.708861,California,"Fresno, California",112

#### because 'New York City' in df8 is called 'New York' in df_city_area, we need to change it mannually

In [518]:
df8.iloc[0,8] = 303

#### mannually change area data of Washington D.C

In [519]:
df_city_area1.loc[df_city_area1.New_Location.str.contains('Washington')]

                         New_Location Area
17                Seattle, Washington   84
20   Washington, District of Columbia   61
100               Spokane, Washington   59
104                Tacoma, Washington   50
143             Vancouver, Washington   46
184              Bellevue, Washington   32
214                  Kent, Washington   29
271               Everett, Washington   33
299                Renton, Washington   23
313           Federal Way, Washington   22
315        Spokane Valley, Washington   38
332                Yakima, Washington   27
370              Kirkland, Washington   11
373            Bellingham, Washington   27
417             Kennewick, Washington   27
434                Auburn, Washington   30
497                 Pasco, Washington   31
524            Marysville, Washington   21
570             Sammamish, Washington   18
582               Redmond, Washington   16
603              Lakewood, Washington   17
675             Shoreline, Washington   12
680              Richland, Washington   36
742               Olympia, Washington   18
745                Burien, Washington    7

In [520]:
df8.iloc[21,8] = 61
df8

,Rank,City,Population,Year,Latitude,Longitude,States,New_Location,Area
0,1,New York City,"8,550,405",2015,40.730862,-73.987156,New York,"New York City, New York",303
1,2,Los Angeles,"3,971,883",2015,34.053683,-118.242767,California,"Los Angeles, California",469
2,3,Chicago,"2,720,546",2015,41.875562,-87.624421,Illinois,"Chicago, Illinois",228
3,4,Houston,"2,296,224",2015,29.758938,-95.367697,Texas,"Houston, Texas",600
4,5,Philadelphia,"1,567,442",2015,39.952415,-75.163575,Pennsylvania,"Philadelphia, Pennsylvania",134
5,6,Phoenix,"1,563,025",2015,33.448587,-112.077346,Arizona,"Phoenix, Arizona",517
6,7,San Antonio,"1,469,845",2015,29.424600,-98.495141,Texas,"San Antonio, Texas",461
7,8,San Diego,"1,394,928",2015,32.717421,-117.162771,California,"San Diego, California",325
8,9,Dallas,"1,300,092",2015,32.776272,-96.796856,Texas,"Dallas, Texas",341
9,10,San Jose,"1,026,908",2015,37.336191,-121.890583,California,"San Jose, California",177
10,11,Austin,"931,830",2015,30.271129,-97.743700,Texas,"Austin, Texas",298
11,12,Jacksonville,"868,031",2015,30.332184,-81.655651,Florida,"Jacksonville, Florida",747
12,13,San Francisco,"864,816",2015,37.779281,-122.419236,California,"San Francisco, California",47
13,14,Indianapolis,"853,173",2015,39.768333,-86.158350,Indiana,"Indianapolis, Indiana",361
14,15,Columbus,"850,106",2015,39.962260,-83.000707,Ohio,"Columbus, Ohio",217
15,16,Fort Worth,"833,319",2015,32.753177,-97.332746,Texas,"Fort Worth, Texas",340
16,17,Charlotte,"827,097",2015,35.227087,-80.843127,North Carolina,"Charlotte, North Carolina",298
17,18,Seattle,"684,451",2015,47.603832,-122.330062,Washington,"Seattle, Washington",84
18,19,Denver,"682,545",2015,39.739236,-104.984862,Colorado,"Denver, Colorado",153
19,20,El Paso,"681,124",2015,31.760037,-106.487287,Texas,"El Paso, Texas",255
20,21,Detroit,"677,116",2015,42.331551,-83.046640,Michigan,"Detroit, Michigan",139
21,22,"Washington, D.C.","672,228",2015,38.895009,-77.036563,District of Columbia,"Washington, D.C., District of Columbia",61
22,23,Boston,"667,137",2015,42.360253,-71.058291,Massachusetts,"Boston, Massachusetts",48
23,24,Memphis,"655,770",2015,35.149022,-90.051629,Tennessee,"Memphis, Tennessee",315
24,25,Nashville,"654,610",2015,36.162230,-86.774353,Tennessee,"Nashville, Tennessee",475
25,26,Portland,"632,309",2015,45.520247,-122.674195,Oregon,"Portland, Oregon",133
26,27,Oklahoma City,"631,346",2015,35.472989,-97.517054,Oklahoma,"Oklahoma City, Oklahoma",606
27,28,Las Vegas,"623,747",2015,36.166286,-115.149225,Nevada,"Las Vegas, Nevada",136
28,29,Baltimore,"621,849",2015,39.290882,-76.610759,Maryland,"Baltimore, Maryland",81
29,30,Louisville,"615,366",2015,38.254238,-85.759407,Kentucky,"Louisville, Kentucky",325
30,31,Milwaukee,"600,155",2015,43.034993,-87.922497,Wisconsin,"Milwaukee, Wisconsin",96
31,32,Albuquerque,"559,121",2015,35.084103,-106.650985,New Mexico,"Albuquerque, New Mexico",188
32,33,Tucson,"531,641",2015,32.221892,-110.926235,Arizona,"Tucson, Arizona",227
33,34,Fresno,"520,052",2015,36.729529,-119.708861,California,"Fresno, California",112

#### change data type of Area to int so that it can be computed

In [521]:
df8['Area'] = df8['Area'].astype(str).astype(int)
df8.dtypes

Rank              int64
City             object
Population       object
Year             object
Latitude        float64
Longitude       float64
States           object
New_Location     object
Area              int32
dtype: object

In [522]:
df9 = df8

#### convert area in square mile to square kilometers

In [523]:
df9['Area'] = df9['Area']*2.59

In [524]:
df9

,Rank,City,Population,Year,Latitude,Longitude,States,New_Location,Area
0,1,New York City,"8,550,405",2015,40.730862,-73.987156,New York,"New York City, New York",784.77
1,2,Los Angeles,"3,971,883",2015,34.053683,-118.242767,California,"Los Angeles, California",1214.71
2,3,Chicago,"2,720,546",2015,41.875562,-87.624421,Illinois,"Chicago, Illinois",590.52
3,4,Houston,"2,296,224",2015,29.758938,-95.367697,Texas,"Houston, Texas",1554.00
4,5,Philadelphia,"1,567,442",2015,39.952415,-75.163575,Pennsylvania,"Philadelphia, Pennsylvania",347.06
5,6,Phoenix,"1,563,025",2015,33.448587,-112.077346,Arizona,"Phoenix, Arizona",1339.03
6,7,San Antonio,"1,469,845",2015,29.424600,-98.495141,Texas,"San Antonio, Texas",1193.99
7,8,San Diego,"1,394,928",2015,32.717421,-117.162771,California,"San Diego, California",841.75
8,9,Dallas,"1,300,092",2015,32.776272,-96.796856,Texas,"Dallas, Texas",883.19
9,10,San Jose,"1,026,908",2015,37.336191,-121.890583,California,"San Jose, California",458.43
10,11,Austin,"931,830",2015,30.271129,-97.743700,Texas,"Austin, Texas",771.82
11,12,Jacksonville,"868,031",2015,30.332184,-81.655651,Florida,"Jacksonville, Florida",1934.73
12,13,San Francisco,"864,816",2015,37.779281,-122.419236,California,"San Francisco, California",121.73
13,14,Indianapolis,"853,173",2015,39.768333,-86.158350,Indiana,"Indianapolis, Indiana",934.99
14,15,Columbus,"850,106",2015,39.962260,-83.000707,Ohio,"Columbus, Ohio",562.03
15,16,Fort Worth,"833,319",2015,32.753177,-97.332746,Texas,"Fort Worth, Texas",880.60
16,17,Charlotte,"827,097",2015,35.227087,-80.843127,North Carolina,"Charlotte, North Carolina",771.82
17,18,Seattle,"684,451",2015,47.603832,-122.330062,Washington,"Seattle, Washington",217.56
18,19,Denver,"682,545",2015,39.739236,-104.984862,Colorado,"Denver, Colorado",396.27
19,20,El Paso,"681,124",2015,31.760037,-106.487287,Texas,"El Paso, Texas",660.45
20,21,Detroit,"677,116",2015,42.331551,-83.046640,Michigan,"Detroit, Michigan",360.01
21,22,"Washington, D.C.","672,228",2015,38.895009,-77.036563,District of Columbia,"Washington, D.C., District of Columbia",157.99
22,23,Boston,"667,137",2015,42.360253,-71.058291,Massachusetts,"Boston, Massachusetts",124.32
23,24,Memphis,"655,770",2015,35.149022,-90.051629,Tennessee,"Memphis, Tennessee",815.85
24,25,Nashville,"654,610",2015,36.162230,-86.774353,Tennessee,"Nashville, Tennessee",1230.25
25,26,Portland,"632,309",2015,45.520247,-122.674195,Oregon,"Portland, Oregon",344.47
26,27,Oklahoma City,"631,346",2015,35.472989,-97.517054,Oklahoma,"Oklahoma City, Oklahoma",1569.54
27,28,Las Vegas,"623,747",2015,36.166286,-115.149225,Nevada,"Las Vegas, Nevada",352.24
28,29,Baltimore,"621,849",2015,39.290882,-76.610759,Maryland,"Baltimore, Maryland",209.79
29,30,Louisville,"615,366",2015,38.254238,-85.759407,Kentucky,"Louisville, Kentucky",841.75
30,31,Milwaukee,"600,155",2015,43.034993,-87.922497,Wisconsin,"Milwaukee, Wisconsin",248.64
31,32,Albuquerque,"559,121",2015,35.084103,-106.650985,New Mexico,"Albuquerque, New Mexico",486.92
32,33,Tucson,"531,641",2015,32.221892,-110.926235,Arizona,"Tucson, Arizona",587.93
33,34,Fresno,"520,052",2015,36.729529,-119.708861,California,"Fresno, California",290.08

#### because , in Population column cannot be computed, we need to remove them and convert the data to float

In [525]:
df9['Population'] = df9['Population'].apply(lambda x: float(x.split()[0].replace(',', '')))

In [526]:
df9['Population'] = df9['Population'].astype(str).astype(float)

In [527]:
df10 = df9

#### use population/area to get population density

In [528]:
df10['Density'] = df10['Population']/df10['Area']

In [529]:
df10

,Rank,City,Population,Year,Latitude,Longitude,States,New_Location,Area,Density
0,1,New York City,8550405.0,2015,40.730862,-73.987156,New York,"New York City, New York",784.77,10895.427960
1,2,Los Angeles,3971883.0,2015,34.053683,-118.242767,California,"Los Angeles, California",1214.71,3269.819957
2,3,Chicago,2720546.0,2015,41.875562,-87.624421,Illinois,"Chicago, Illinois",590.52,4607.034478
3,4,Houston,2296224.0,2015,29.758938,-95.367697,Texas,"Houston, Texas",1554.00,1477.621622
4,5,Philadelphia,1567442.0,2015,39.952415,-75.163575,Pennsylvania,"Philadelphia, Pennsylvania",347.06,4516.342995
5,6,Phoenix,1563025.0,2015,33.448587,-112.077346,Arizona,"Phoenix, Arizona",1339.03,1167.281540
6,7,San Antonio,1469845.0,2015,29.424600,-98.495141,Texas,"San Antonio, Texas",1193.99,1231.036273
7,8,San Diego,1394928.0,2015,32.717421,-117.162771,California,"San Diego, California",841.75,1657.176121
8,9,Dallas,1300092.0,2015,32.776272,-96.796856,Texas,"Dallas, Texas",883.19,1472.041124
9,10,San Jose,1026908.0,2015,37.336191,-121.890583,California,"San Jose, California",458.43,2240.054098
10,11,Austin,931830.0,2015,30.271129,-97.743700,Texas,"Austin, Texas",771.82,1207.315177
11,12,Jacksonville,868031.0,2015,30.332184,-81.655651,Florida,"Jacksonville, Florida",1934.73,448.657435
12,13,San Francisco,864816.0,2015,37.779281,-122.419236,California,"San Francisco, California",121.73,7104.378543
13,14,Indianapolis,853173.0,2015,39.768333,-86.158350,Indiana,"Indianapolis, Indiana",934.99,912.494251
14,15,Columbus,850106.0,2015,39.962260,-83.000707,Ohio,"Columbus, Ohio",562.03,1512.563386
15,16,Fort Worth,833319.0,2015,32.753177,-97.332746,Texas,"Fort Worth, Texas",880.60,946.308199
16,17,Charlotte,827097.0,2015,35.227087,-80.843127,North Carolina,"Charlotte, North Carolina",771.82,1071.619030
17,18,Seattle,684451.0,2015,47.603832,-122.330062,Washington,"Seattle, Washington",217.56,3146.033278
18,19,Denver,682545.0,2015,39.739236,-104.984862,Colorado,"Denver, Colorado",396.27,1722.424105
19,20,El Paso,681124.0,2015,31.760037,-106.487287,Texas,"El Paso, Texas",660.45,1031.302900
20,21,Detroit,677116.0,2015,42.331551,-83.046640,Michigan,"Detroit, Michigan",360.01,1880.825533
21,22,"Washington, D.C.",672228.0,2015,38.895009,-77.036563,District of Columbia,"Washington, D.C., District of Columbia",157.99,4254.876891
22,23,Boston,667137.0,2015,42.360253,-71.058291,Massachusetts,"Boston, Massachusetts",124.32,5366.288610
23,24,Memphis,655770.0,2015,35.149022,-90.051629,Tennessee,"Memphis, Tennessee",815.85,803.787461
24,25,Nashville,654610.0,2015,36.162230,-86.774353,Tennessee,"Nashville, Tennessee",1230.25,532.095103
25,26,Portland,632309.0,2015,45.520247,-122.674195,Oregon,"Portland, Oregon",344.47,1835.599617
26,27,Oklahoma City,631346.0,2015,35.472989,-97.517054,Oklahoma,"Oklahoma City, Oklahoma",1569.54,402.249067
27,28,Las Vegas,623747.0,2015,36.166286,-115.149225,Nevada,"Las Vegas, Nevada",352.24,1770.801158
28,29,Baltimore,621849.0,2015,39.290882,-76.610759,Maryland,"Baltimore, Maryland",209.79,2964.149864
29,30,Louisville,615366.0,2015,38.254238,-85.759407,Kentucky,"Louisville, Kentucky",841.75,731.055539
30,31,Milwaukee,600155.0,2015,43.034993,-87.922497,Wisconsin,"Milwaukee, Wisconsin",248.64,2413.750804
31,32,Albuquerque,559121.0,2015,35.084103,-106.650985,New Mexico,"Albuquerque, New Mexico",486.92,1148.281032
32,33,Tucson,531641.0,2015,32.221892,-110.926235,Arizona,"Tucson, Arizona",587.93,904.259010
33,34,Fresno,520052.0,2015,36.729529,-119.708861,California,"Fresno, California",290.08,1792.788196

#### round the decimal place to one

In [530]:
df10['Density'] = df10['Density'].round(1)

In [531]:
df10

,Rank,City,Population,Year,Latitude,Longitude,States,New_Location,Area,Density
0,1,New York City,8550405.0,2015,40.730862,-73.987156,New York,"New York City, New York",784.77,10895.4
1,2,Los Angeles,3971883.0,2015,34.053683,-118.242767,California,"Los Angeles, California",1214.71,3269.8
2,3,Chicago,2720546.0,2015,41.875562,-87.624421,Illinois,"Chicago, Illinois",590.52,4607.0
3,4,Houston,2296224.0,2015,29.758938,-95.367697,Texas,"Houston, Texas",1554.00,1477.6
4,5,Philadelphia,1567442.0,2015,39.952415,-75.163575,Pennsylvania,"Philadelphia, Pennsylvania",347.06,4516.3
5,6,Phoenix,1563025.0,2015,33.448587,-112.077346,Arizona,"Phoenix, Arizona",1339.03,1167.3
6,7,San Antonio,1469845.0,2015,29.424600,-98.495141,Texas,"San Antonio, Texas",1193.99,1231.0
7,8,San Diego,1394928.0,2015,32.717421,-117.162771,California,"San Diego, California",841.75,1657.2
8,9,Dallas,1300092.0,2015,32.776272,-96.796856,Texas,"Dallas, Texas",883.19,1472.0
9,10,San Jose,1026908.0,2015,37.336191,-121.890583,California,"San Jose, California",458.43,2240.1
10,11,Austin,931830.0,2015,30.271129,-97.743700,Texas,"Austin, Texas",771.82,1207.3
11,12,Jacksonville,868031.0,2015,30.332184,-81.655651,Florida,"Jacksonville, Florida",1934.73,448.7
12,13,San Francisco,864816.0,2015,37.779281,-122.419236,California,"San Francisco, California",121.73,7104.4
13,14,Indianapolis,853173.0,2015,39.768333,-86.158350,Indiana,"Indianapolis, Indiana",934.99,912.5
14,15,Columbus,850106.0,2015,39.962260,-83.000707,Ohio,"Columbus, Ohio",562.03,1512.6
15,16,Fort Worth,833319.0,2015,32.753177,-97.332746,Texas,"Fort Worth, Texas",880.60,946.3
16,17,Charlotte,827097.0,2015,35.227087,-80.843127,North Carolina,"Charlotte, North Carolina",771.82,1071.6
17,18,Seattle,684451.0,2015,47.603832,-122.330062,Washington,"Seattle, Washington",217.56,3146.0
18,19,Denver,682545.0,2015,39.739236,-104.984862,Colorado,"Denver, Colorado",396.27,1722.4
19,20,El Paso,681124.0,2015,31.760037,-106.487287,Texas,"El Paso, Texas",660.45,1031.3
20,21,Detroit,677116.0,2015,42.331551,-83.046640,Michigan,"Detroit, Michigan",360.01,1880.8
21,22,"Washington, D.C.",672228.0,2015,38.895009,-77.036563,District of Columbia,"Washington, D.C., District of Columbia",157.99,4254.9
22,23,Boston,667137.0,2015,42.360253,-71.058291,Massachusetts,"Boston, Massachusetts",124.32,5366.3
23,24,Memphis,655770.0,2015,35.149022,-90.051629,Tennessee,"Memphis, Tennessee",815.85,803.8
24,25,Nashville,654610.0,2015,36.162230,-86.774353,Tennessee,"Nashville, Tennessee",1230.25,532.1
25,26,Portland,632309.0,2015,45.520247,-122.674195,Oregon,"Portland, Oregon",344.47,1835.6
26,27,Oklahoma City,631346.0,2015,35.472989,-97.517054,Oklahoma,"Oklahoma City, Oklahoma",1569.54,402.2
27,28,Las Vegas,623747.0,2015,36.166286,-115.149225,Nevada,"Las Vegas, Nevada",352.24,1770.8
28,29,Baltimore,621849.0,2015,39.290882,-76.610759,Maryland,"Baltimore, Maryland",209.79,2964.1
29,30,Louisville,615366.0,2015,38.254238,-85.759407,Kentucky,"Louisville, Kentucky",841.75,731.1
30,31,Milwaukee,600155.0,2015,43.034993,-87.922497,Wisconsin,"Milwaukee, Wisconsin",248.64,2413.8
31,32,Albuquerque,559121.0,2015,35.084103,-106.650985,New Mexico,"Albuquerque, New Mexico",486.92,1148.3
32,33,Tucson,531641.0,2015,32.221892,-110.926235,Arizona,"Tucson, Arizona",587.93,904.3
33,34,Fresno,520052.0,2015,36.729529,-119.708861,California,"Fresno, California",290.08,1792.8

In [532]:
df11 = df10

#### get the area of circle with a radius of 3000 meters of the geolocatoin

In [533]:
df11['area_3km'] = 3.14*(3**2)

#### find how many people are there in the 3km circle

In [534]:
df11['population_3km'] = df11['area_3km']*df10['Density']

In [535]:
df12 = df11

In [536]:
df12.head()

,Rank,City,Population,Year,Latitude,Longitude,States,New_Location,Area,Density,area_3km,population_3km
0,1,New York City,8550405.0,2015,40.730862,-73.987156,New York,"New York City, New York",784.77,10895.4,28.26,307904.004
1,2,Los Angeles,3971883.0,2015,34.053683,-118.242767,California,"Los Angeles, California",1214.71,3269.8,28.26,92404.548
2,3,Chicago,2720546.0,2015,41.875562,-87.624421,Illinois,"Chicago, Illinois",590.52,4607.0,28.26,130193.820
3,4,Houston,2296224.0,2015,29.758938,-95.367697,Texas,"Houston, Texas",1554.00,1477.6,28.26,41756.976
4,5,Philadelphia,1567442.0,2015,39.952415,-75.163575,Pennsylvania,"Philadelphia, Pennsylvania",347.06,4516.3,28.26,127630.638

## Use Foursquare API to get how many Chinese restaurants

#### load Foursqaure API information

In [537]:
CLIENT_ID = '##' # your Foursquare ID
CLIENT_SECRET = '##' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: CRH2XAS0EAZ53SBQUAJGDIT0XAUAPVT3BHF2J1XFPNXHVSRB
CLIENT_SECRET:XD2W5B5XRK0LJJX2JVAJUANTOYCYZPOVDJHJPRZJWKTEZ55H

#### create a new column in city_data called 'how_many' to indicate how many Chinese restaurants are within 3000m of the cities geolocation. Use Foursquare's search function to search Chinese restaurant.

In [538]:
df12['how_many'] = 'None'
list=[]
for index, row in df12.iterrows():
    neighborhood_latitude = row['Latitude']
    neighborhood_longitude = row['Longitude']
    categoryId = '4bf58dd8d48988d145941735'
    LIMIT =50
    radius = 2000
    url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}&categoryId={}'.format(
    CLIENT_ID,
    CLIENT_SECRET,
    VERSION,
    neighborhood_latitude,
    neighborhood_longitude,
    radius,
    LIMIT,
    categoryId)
    results = requests.get(url).json()
    names = results['response']['venues']
    names = json_normalize(names)
    filtered_columns = ['name', 'location.lat', 'location.lng']
    nearby_venues = names.loc[:, filtered_columns]

    how_many = len(nearby_venues.name)
    list.append(how_many)
df12['how_many'] = list

In [539]:
df12

,Rank,City,Population,Year,Latitude,Longitude,States,New_Location,Area,Density,area_3km,population_3km,how_many
0,1,New York City,8550405.0,2015,40.730862,-73.987156,New York,"New York City, New York",784.77,10895.4,28.26,307904.004,50
1,2,Los Angeles,3971883.0,2015,34.053683,-118.242767,California,"Los Angeles, California",1214.71,3269.8,28.26,92404.548,50
2,3,Chicago,2720546.0,2015,41.875562,-87.624421,Illinois,"Chicago, Illinois",590.52,4607.0,28.26,130193.820,49
3,4,Houston,2296224.0,2015,29.758938,-95.367697,Texas,"Houston, Texas",1554.00,1477.6,28.26,41756.976,20
4,5,Philadelphia,1567442.0,2015,39.952415,-75.163575,Pennsylvania,"Philadelphia, Pennsylvania",347.06,4516.3,28.26,127630.638,50
5,6,Phoenix,1563025.0,2015,33.448587,-112.077346,Arizona,"Phoenix, Arizona",1339.03,1167.3,28.26,32987.898,6
6,7,San Antonio,1469845.0,2015,29.424600,-98.495141,Texas,"San Antonio, Texas",1193.99,1231.0,28.26,34788.060,8
7,8,San Diego,1394928.0,2015,32.717421,-117.162771,California,"San Diego, California",841.75,1657.2,28.26,46832.472,9
8,9,Dallas,1300092.0,2015,32.776272,-96.796856,Texas,"Dallas, Texas",883.19,1472.0,28.26,41598.720,10
9,10,San Jose,1026908.0,2015,37.336191,-121.890583,California,"San Jose, California",458.43,2240.1,28.26,63305.226,13
10,11,Austin,931830.0,2015,30.271129,-97.743700,Texas,"Austin, Texas",771.82,1207.3,28.26,34118.298,16
11,12,Jacksonville,868031.0,2015,30.332184,-81.655651,Florida,"Jacksonville, Florida",1934.73,448.7,28.26,12680.262,1
12,13,San Francisco,864816.0,2015,37.779281,-122.419236,California,"San Francisco, California",121.73,7104.4,28.26,200770.344,50
13,14,Indianapolis,853173.0,2015,39.768333,-86.158350,Indiana,"Indianapolis, Indiana",934.99,912.5,28.26,25787.250,8
14,15,Columbus,850106.0,2015,39.962260,-83.000707,Ohio,"Columbus, Ohio",562.03,1512.6,28.26,42746.076,5
15,16,Fort Worth,833319.0,2015,32.753177,-97.332746,Texas,"Fort Worth, Texas",880.60,946.3,28.26,26742.438,5
16,17,Charlotte,827097.0,2015,35.227087,-80.843127,North Carolina,"Charlotte, North Carolina",771.82,1071.6,28.26,30283.416,12
17,18,Seattle,684451.0,2015,47.603832,-122.330062,Washington,"Seattle, Washington",217.56,3146.0,28.26,88905.960,50
18,19,Denver,682545.0,2015,39.739236,-104.984862,Colorado,"Denver, Colorado",396.27,1722.4,28.26,48675.024,17
19,20,El Paso,681124.0,2015,31.760037,-106.487287,Texas,"El Paso, Texas",660.45,1031.3,28.26,29144.538,10
20,21,Detroit,677116.0,2015,42.331551,-83.046640,Michigan,"Detroit, Michigan",360.01,1880.8,28.26,53151.408,13
21,22,"Washington, D.C.",672228.0,2015,38.895009,-77.036563,District of Columbia,"Washington, D.C., District of Columbia",157.99,4254.9,28.26,120243.474,42
22,23,Boston,667137.0,2015,42.360253,-71.058291,Massachusetts,"Boston, Massachusetts",124.32,5366.3,28.26,151651.638,50
23,24,Memphis,655770.0,2015,35.149022,-90.051629,Tennessee,"Memphis, Tennessee",815.85,803.8,28.26,22715.388,4
24,25,Nashville,654610.0,2015,36.162230,-86.774353,Tennessee,"Nashville, Tennessee",1230.25,532.1,28.26,15037.146,3
25,26,Portland,632309.0,2015,45.520247,-122.674195,Oregon,"Portland, Oregon",344.47,1835.6,28.26,51874.056,31
26,27,Oklahoma City,631346.0,2015,35.472989,-97.517054,Oklahoma,"Oklahoma City, Oklahoma",1569.54,402.2,28.26,11366.172,6
27,28,Las Vegas,623747.0,2015,36.166286,-115.149225,Nevada,"Las Vegas, Nevada",352.24,1770.8,28.26,50042.808,10
28,29,Baltimore,621849.0,2015,39.290882,-76.610759,Maryland,"Baltimore, Maryland",209.79,2964.1,28.26,83765.466,29
29,30,Louisville,615366.0,2015,38.254238,-85.759407,Kentucky,"Louisville, Kentucky",841.75,731.1,28.26,20660.886,8
30,31,Milwaukee,600155.0,2015,43.034993,-87.922497,Wisconsin,"Milwaukee, Wisconsin",248.64,2413.8,28.26,68213.988,12
31,32,Albuquerque,559121.0,2015,35.084103,-106.650985,New Mexico,"Albuquerque, New Mexico",486.92,1148.3,28.26,32450.958,4
32,33,Tucson,531641.0,2015,32.221892,-110.926235,Arizona,"Tucson, Arizona",587.93,904.3,28.26,25555.518,7
33,34,Fresno,520052.0,2015,36.729529,-119.708861,California,"Fresno, California",290.08,1792.8,28.26,50664.528,4

In [540]:
df13 = df12

#### use population_3km / how_many to get how many people are haivng one Chinese Restaurants

In [541]:
df13['person/restaurant'] = df13['population_3km']/df13['how_many']

In [542]:
df13

,Rank,City,Population,Year,Latitude,Longitude,States,New_Location,Area,Density,area_3km,population_3km,how_many,person/restaurant
0,1,New York City,8550405.0,2015,40.730862,-73.987156,New York,"New York City, New York",784.77,10895.4,28.26,307904.004,50,6158.080080
1,2,Los Angeles,3971883.0,2015,34.053683,-118.242767,California,"Los Angeles, California",1214.71,3269.8,28.26,92404.548,50,1848.090960
2,3,Chicago,2720546.0,2015,41.875562,-87.624421,Illinois,"Chicago, Illinois",590.52,4607.0,28.26,130193.820,49,2657.016735
3,4,Houston,2296224.0,2015,29.758938,-95.367697,Texas,"Houston, Texas",1554.00,1477.6,28.26,41756.976,20,2087.848800
4,5,Philadelphia,1567442.0,2015,39.952415,-75.163575,Pennsylvania,"Philadelphia, Pennsylvania",347.06,4516.3,28.26,127630.638,50,2552.612760
5,6,Phoenix,1563025.0,2015,33.448587,-112.077346,Arizona,"Phoenix, Arizona",1339.03,1167.3,28.26,32987.898,6,5497.983000
6,7,San Antonio,1469845.0,2015,29.424600,-98.495141,Texas,"San Antonio, Texas",1193.99,1231.0,28.26,34788.060,8,4348.507500
7,8,San Diego,1394928.0,2015,32.717421,-117.162771,California,"San Diego, California",841.75,1657.2,28.26,46832.472,9,5203.608000
8,9,Dallas,1300092.0,2015,32.776272,-96.796856,Texas,"Dallas, Texas",883.19,1472.0,28.26,41598.720,10,4159.872000
9,10,San Jose,1026908.0,2015,37.336191,-121.890583,California,"San Jose, California",458.43,2240.1,28.26,63305.226,13,4869.632769
10,11,Austin,931830.0,2015,30.271129,-97.743700,Texas,"Austin, Texas",771.82,1207.3,28.26,34118.298,16,2132.393625
11,12,Jacksonville,868031.0,2015,30.332184,-81.655651,Florida,"Jacksonville, Florida",1934.73,448.7,28.26,12680.262,1,12680.262000
12,13,San Francisco,864816.0,2015,37.779281,-122.419236,California,"San Francisco, California",121.73,7104.4,28.26,200770.344,50,4015.406880
13,14,Indianapolis,853173.0,2015,39.768333,-86.158350,Indiana,"Indianapolis, Indiana",934.99,912.5,28.26,25787.250,8,3223.406250
14,15,Columbus,850106.0,2015,39.962260,-83.000707,Ohio,"Columbus, Ohio",562.03,1512.6,28.26,42746.076,5,8549.215200
15,16,Fort Worth,833319.0,2015,32.753177,-97.332746,Texas,"Fort Worth, Texas",880.60,946.3,28.26,26742.438,5,5348.487600
16,17,Charlotte,827097.0,2015,35.227087,-80.843127,North Carolina,"Charlotte, North Carolina",771.82,1071.6,28.26,30283.416,12,2523.618000
17,18,Seattle,684451.0,2015,47.603832,-122.330062,Washington,"Seattle, Washington",217.56,3146.0,28.26,88905.960,50,1778.119200
18,19,Denver,682545.0,2015,39.739236,-104.984862,Colorado,"Denver, Colorado",396.27,1722.4,28.26,48675.024,17,2863.236706
19,20,El Paso,681124.0,2015,31.760037,-106.487287,Texas,"El Paso, Texas",660.45,1031.3,28.26,29144.538,10,2914.453800
20,21,Detroit,677116.0,2015,42.331551,-83.046640,Michigan,"Detroit, Michigan",360.01,1880.8,28.26,53151.408,13,4088.569846
21,22,"Washington, D.C.",672228.0,2015,38.895009,-77.036563,District of Columbia,"Washington, D.C., District of Columbia",157.99,4254.9,28.26,120243.474,42,2862.939857
22,23,Boston,667137.0,2015,42.360253,-71.058291,Massachusetts,"Boston, Massachusetts",124.32,5366.3,28.26,151651.638,50,3033.032760
23,24,Memphis,655770.0,2015,35.149022,-90.051629,Tennessee,"Memphis, Tennessee",815.85,803.8,28.26,22715.388,4,5678.847000
24,25,Nashville,654610.0,2015,36.162230,-86.774353,Tennessee,"Nashville, Tennessee",1230.25,532.1,28.26,15037.146,3,5012.382000
25,26,Portland,632309.0,2015,45.520247,-122.674195,Oregon,"Portland, Oregon",344.47,1835.6,28.26,51874.056,31,1673.356645
26,27,Oklahoma City,631346.0,2015,35.472989,-97.517054,Oklahoma,"Oklahoma City, Oklahoma",1569.54,402.2,28.26,11366.172,6,1894.362000
27,28,Las Vegas,623747.0,2015,36.166286,-115.149225,Nevada,"Las Vegas, Nevada",352.24,1770.8,28.26,50042.808,10,5004.280800
28,29,Baltimore,621849.0,2015,39.290882,-76.610759,Maryland,"Baltimore, Maryland",209.79,2964.1,28.26,83765.466,29,2888.464345
29,30,Louisville,615366.0,2015,38.254238,-85.759407,Kentucky,"Louisville, Kentucky",841.75,731.1,28.26,20660.886,8,2582.610750
30,31,Milwaukee,600155.0,2015,43.034993,-87.922497,Wisconsin,"Milwaukee, Wisconsin",248.64,2413.8,28.26,68213.988,12,5684.499000
31,32,Albuquerque,559121.0,2015,35.084103,-106.650985,New Mexico,"Albuquerque, New Mexico",486.92,1148.3,28.26,32450.958,4,8112.739500
32,33,Tucson,531641.0,2015,32.221892,-110.926235,Arizona,"Tucson, Arizona",587.93,904.3,28.26,25555.518,7,3650.788286
33,34,Fresno,520052.0,2015,36.729529,-119.708861,California,"Fresno, California",290.08,1792.8,28.26,50664.528,4,12666.132000

#### sort values

In [543]:
df13.sort_values('person/restaurant')

,Rank,City,Population,Year,Latitude,Longitude,States,New_Location,Area,Density,area_3km,population_3km,how_many,person/restaurant
25,26,Portland,632309.0,2015,45.520247,-122.674195,Oregon,"Portland, Oregon",344.47,1835.6,28.26,51874.056,31,1673.356645
17,18,Seattle,684451.0,2015,47.603832,-122.330062,Washington,"Seattle, Washington",217.56,3146.0,28.26,88905.960,50,1778.119200
1,2,Los Angeles,3971883.0,2015,34.053683,-118.242767,California,"Los Angeles, California",1214.71,3269.8,28.26,92404.548,50,1848.090960
26,27,Oklahoma City,631346.0,2015,35.472989,-97.517054,Oklahoma,"Oklahoma City, Oklahoma",1569.54,402.2,28.26,11366.172,6,1894.362000
3,4,Houston,2296224.0,2015,29.758938,-95.367697,Texas,"Houston, Texas",1554.00,1477.6,28.26,41756.976,20,2087.848800
10,11,Austin,931830.0,2015,30.271129,-97.743700,Texas,"Austin, Texas",771.82,1207.3,28.26,34118.298,16,2132.393625
16,17,Charlotte,827097.0,2015,35.227087,-80.843127,North Carolina,"Charlotte, North Carolina",771.82,1071.6,28.26,30283.416,12,2523.618000
4,5,Philadelphia,1567442.0,2015,39.952415,-75.163575,Pennsylvania,"Philadelphia, Pennsylvania",347.06,4516.3,28.26,127630.638,50,2552.612760
29,30,Louisville,615366.0,2015,38.254238,-85.759407,Kentucky,"Louisville, Kentucky",841.75,731.1,28.26,20660.886,8,2582.610750
2,3,Chicago,2720546.0,2015,41.875562,-87.624421,Illinois,"Chicago, Illinois",590.52,4607.0,28.26,130193.820,49,2657.016735
21,22,"Washington, D.C.",672228.0,2015,38.895009,-77.036563,District of Columbia,"Washington, D.C., District of Columbia",157.99,4254.9,28.26,120243.474,42,2862.939857
18,19,Denver,682545.0,2015,39.739236,-104.984862,Colorado,"Denver, Colorado",396.27,1722.4,28.26,48675.024,17,2863.236706
28,29,Baltimore,621849.0,2015,39.290882,-76.610759,Maryland,"Baltimore, Maryland",209.79,2964.1,28.26,83765.466,29,2888.464345
19,20,El Paso,681124.0,2015,31.760037,-106.487287,Texas,"El Paso, Texas",660.45,1031.3,28.26,29144.538,10,2914.453800
22,23,Boston,667137.0,2015,42.360253,-71.058291,Massachusetts,"Boston, Massachusetts",124.32,5366.3,28.26,151651.638,50,3033.032760
13,14,Indianapolis,853173.0,2015,39.768333,-86.158350,Indiana,"Indianapolis, Indiana",934.99,912.5,28.26,25787.250,8,3223.406250
32,33,Tucson,531641.0,2015,32.221892,-110.926235,Arizona,"Tucson, Arizona",587.93,904.3,28.26,25555.518,7,3650.788286
12,13,San Francisco,864816.0,2015,37.779281,-122.419236,California,"San Francisco, California",121.73,7104.4,28.26,200770.344,50,4015.406880
20,21,Detroit,677116.0,2015,42.331551,-83.046640,Michigan,"Detroit, Michigan",360.01,1880.8,28.26,53151.408,13,4088.569846
8,9,Dallas,1300092.0,2015,32.776272,-96.796856,Texas,"Dallas, Texas",883.19,1472.0,28.26,41598.720,10,4159.872000
6,7,San Antonio,1469845.0,2015,29.424600,-98.495141,Texas,"San Antonio, Texas",1193.99,1231.0,28.26,34788.060,8,4348.507500
9,10,San Jose,1026908.0,2015,37.336191,-121.890583,California,"San Jose, California",458.43,2240.1,28.26,63305.226,13,4869.632769
27,28,Las Vegas,623747.0,2015,36.166286,-115.149225,Nevada,"Las Vegas, Nevada",352.24,1770.8,28.26,50042.808,10,5004.280800
24,25,Nashville,654610.0,2015,36.162230,-86.774353,Tennessee,"Nashville, Tennessee",1230.25,532.1,28.26,15037.146,3,5012.382000
7,8,San Diego,1394928.0,2015,32.717421,-117.162771,California,"San Diego, California",841.75,1657.2,28.26,46832.472,9,5203.608000
15,16,Fort Worth,833319.0,2015,32.753177,-97.332746,Texas,"Fort Worth, Texas",880.60,946.3,28.26,26742.438,5,5348.487600
5,6,Phoenix,1563025.0,2015,33.448587,-112.077346,Arizona,"Phoenix, Arizona",1339.03,1167.3,28.26,32987.898,6,5497.983000
23,24,Memphis,655770.0,2015,35.149022,-90.051629,Tennessee,"Memphis, Tennessee",815.85,803.8,28.26,22715.388,4,5678.847000
30,31,Milwaukee,600155.0,2015,43.034993,-87.922497,Wisconsin,"Milwaukee, Wisconsin",248.64,2413.8,28.26,68213.988,12,5684.499000
0,1,New York City,8550405.0,2015,40.730862,-73.987156,New York,"New York City, New York",784.77,10895.4,28.26,307904.004,50,6158.080080
31,32,Albuquerque,559121.0,2015,35.084103,-106.650985,New Mexico,"Albuquerque, New Mexico",486.92,1148.3,28.26,32450.958,4,8112.739500
14,15,Columbus,850106.0,2015,39.962260,-83.000707,Ohio,"Columbus, Ohio",562.03,1512.6,28.26,42746.076,5,8549.215200
33,34,Fresno,520052.0,2015,36.729529,-119.708861,California,"Fresno, California",290.08,1792.8,28.26,50664.528,4,12666.132000
11,12,Jacksonville,868031.0,2015,30.332184,-81.655651,Florida,"Jacksonville, Florida",1934.73,448.7,28.26,12680.262,1,12680.262000

#### Mapping person/restaurant to the U.S map

In [544]:
us_map = folium.Map(location=[39.5,-98.35],zoom_start=4)
for lat, lng, loca, density in zip(df13['Latitude'], df13['Longitude'], df13['New_Location'], df13['person/restaurant']):
    label = '{}'.format(loca)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=density/400,
        popup=label,
        color='red',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(us_map)  
us_map

# Conclusion

### We find that Jacksonville, Florida has the least Chinese restaurants by people. It is also shown in the map above, the bigger the circle, it means the more people are having one Chinese Restaurants. Although there are lots of Chinese restaurants in NYC, but the population density of the two cities are also very high, hence more people area having one restaurants. So if one wants to open a new Chinese restaurants, he or she should pick a place with a bigger circle such as NYC, Jacksonville, or Columbus.
### This analysis also has limitations. Because Foursquare only allow free account to get 50 venues of a location, so city such as NYC may have more than 50 Chinese restaurants, and it means the circle should be smaller, and it would not be such a good choice to open a Chines restaurants.